@using WebLessons.Models
@model List<URUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h2>Urunler</h2>
@if (User.IsInRole("Admin"))
{
    <table id="tbl1" class="table table-bordered">
        <thead>
            <tr>

                <th>Urun ID</th>
                <th>Urun Adı </th>
                <th>Urun Kategori</th>
                <th>Urun Fiyat </th>
                <th>Urun Marka</th>
                <th>Urun Stok </th>
                <th>Sil</th>
                <th>Guncelle </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var urun in Model)
            {
                <tr>
                    <td>
                        @urun.URUNID
                    </td>
                    <td>
                        @urun.URUNAD
                    </td>
                    @if (urun.URUNKATEGORI == null)// null değerlerini silseydikte çalışırdı ama bu daha sağlıklı
                                                  // üründen gelen kategori id boş ise
                    {
                        <td>Ürün Kategorisi Belirtilmemiş</td>
                        // bunu yazdır
                    }
                    else
                    //eğer bir id değeri geliyorsa
                    {
                        <td>@urun.KATEGORILER.KATEGORIAD</td>
                        // kategorinin adını yazdır
                    }
                    <td>
                        @urun.FIYAT
                    </td>
                    <td>
                        @urun.MARKA
                    </td>
                    <td>
                        @urun.STOK
                    </td>
                    <td>
                        <a href="/Urun/UrunSil/@urun.URUNID" class="btn btn-danger">Sil</a>
                    </td>
                    <td>
                        <a href="/Urun/UrunGetir/@urun.URUNID" class="btn btn-success">Guncelle</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <a href="/Urun/YeniUrun/" class="btn btn-primary">Yeni Ürün</a>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

    <script>
        $('#tbl1').DataTable();
    </script>

}
else if (User.IsInRole("User"))
{

    <table id="tbl1" class="table table-bordered">
        <thead>
            <tr>

                <th>Urun ID</th>
                <th>Urun Adı </th>
                <th>Urun Kategori</th>
                <th>Urun Fiyat </th>
                <th>Urun Marka</th>
                <th>Urun Stok </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var urun in Model)
            {
                <tr>
                    <td>
                        @urun.URUNID
                    </td>
                    <td>
                        @urun.URUNAD
                    </td>
                    @if (urun.URUNKATEGORI == null)// null değerlerini silseydikte çalışırdı ama bu daha sağlıklı
                                                  // üründen gelen kategori id boş ise
                    {
                        <td>Ürün Kategorisi Belirtilmemiş</td>
                        // bunu yazdır
                    }
                    else
                    //eğer bir id değeri geliyorsa
                    {
                        <td>@urun.KATEGORILER.KATEGORIAD</td>
                        // kategorinin adını yazdır
                    }
                    <td>
                        @urun.FIYAT
                    </td>
                    <td>
                        @urun.MARKA
                    </td>
                    <td>
                        @urun.STOK
                    </td>
                 
                </tr>
            }
        </tbody>

    </table>
    @*<a href="/Urun/YeniUrun/" class="btn btn-primary">Yeni Ürün</a>*@

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

    <script>
        $('#tbl1').DataTable();
    </script>
}



